/* RTL fixes */
body.rtl #articleFooter .actions li {
	direction: ltr;
}

body.rtl #fe_talk,
body.rtl #fe_permalink {
	width: 40% !important;
	position: relative;
}

body.rtl #articleFooter .actions li div {
	position: relative;
	top: 2px;
	display: block;
	float: right;
	clear: both;
}

body.rtl #articleFooter .actions li div a {
	direction: rtl;
}

.ImageMapWrapper {
	clear: both;
}

#current-rating span {
	display: none;
}

/* ADS fix */
body.rtl #wikia_page {
	overflow: hidden;
}

body.rtl #spotlight_footer {
	direction: ltr;
}

body.rtl #spotlight_footer td {
	width: 250px;
}
