#reportProblemForm_c {top: 0px; left: 0px; position: absolute}
#reportProblemSummary_c {position: absolute; top: 150px; left: 150px;}
#reportProblemForm a {color: inherit; text-decoration: underline}
#reportProblem label.floaty {width: 100px; display: inline; float: left; padding: 10px 0; text-align: left; margin: 0}
#reportProblem input.floaty, #reportProblem select.floaty, #reportProblem textarea {width:425px; display: inline; float: left; margin: 7px 0 7px 10px}
#reportProblem input.floaty {width: 250px}
#reportProblem select.floaty {width: 256px}
#reportProblem br.floaty {clear: both}
#reportProblemForm .errorField {border: solid 1px #DC143C !important; background-color: #FFFAFA !important}

/* ie6/7 fixes */
form#reportProblem {position: relative}
td.problemReportsDescription div {width: 720px !important}

/* Special:ProblemReports */
a.problemReportsInfo {
	background-image: none !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_info.png",sizingMethod="image");
}
a.problemReportsActionFixed {
	background-image: none !important;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_fixed.png",sizingMethod="image");
}
a.problemReportsActionNotAProblem {
	background-image: none !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_not_problem.png",sizingMethod="image");
}
a.problemReportsActionNeedStaffHelp {
	background-image: none !important;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_need_staff_help.png",sizingMethod="image");
}
a.problemReportsActionUndo {
	background-image: none !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_undo.png",sizingMethod="image");
}
a.problemReportsActionRemove {
	background-image: none !important;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://images.wikia.com/common/extensions/wikia/ProblemReports/images/problem_reports_remove.png",sizingMethod="image");
}

