#myContainer {
	position: relative;
	top: 4px;
	left: 0;
	width: 250px;
}

#myAutoComplete {
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;
	padding: 5px 5px 2px 5px;
}

#myInput {
	border: 0;
	display: block;
	float: left;
}

.CSitem {
	background: #9Cf;
	border: 1px solid #82add8;
	color: #000;
	cursor: default;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 16px;
	margin: 0 5px 3px 0;
	position: relative;
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.CSaddCategory {
	background: #DDD;
	border-color: #BBB;
	cursor: pointer;
}

.CSitemOuter {
	margin: 0 35px 0 4px;
}

.CSitemOuterAddCategory {
	margin: 0 4px 0 18px;
}

.CSitem:hover {
	text-decoration: none;
}

.CSitem:visited, .CSitem:active {
	color: black;
}

/*** Control buttons ***/
.CScontrol {
	background-image: url(sprite.png);
	cursor: pointer;
	display: block;
	height: 14px;
	position: absolute;
	top: 1px;
	width: 12px;
}

.CScontrolAdd {
	background-position: top left;
	left: 2px;
}

.CScontrolRemove {
	background-position: top right;
	right: 4px;
}

.CScontrolSort {
	background-position: -24px 0px;
	right: 16px;
}

.CScontrolSorted {
	background-position: -12px 0px; 
	right: 16px;
}

.CSsuggestHover {
	background-color: #D2E3FF;
}
