#myContainer {
	position: relative;
	top: 4px;
	left: 0;
	width: 250px;
}

#myAutoComplete {
	background: #FFF;
	border: 1px solid #AAA;
	overflow: hidden;
	padding: 5px 5px 2px 5px;
}

#myInput {
	display: block;
	float: left;
}

.CSitem {
	background: #9Cf;
	border: 1px solid #82add8;
	color: #000;
	cursor: default;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 16px;
	margin: 0 5px 3px 0;
	position: relative;
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.CSitemOuter {
	margin: 0 35px 0 4px;
}

.CSitem:hover {
	text-decoration: none;
}

.CSitem:visited, .CSitem:active {
	color: black;
}


/*** Control buttons ***/
.CScontrol {
	background: url(sprite.png);
	cursor: pointer;
	display: block;
	height: 14px;
	position: absolute;
	top: 1px;
	width: 48px;
}
.CScontrolRemove {
	clip: rect(0px 48px 14px 36px);
	right: 4px;
}

.CScontrolSort {
	clip: rect(0px 36px 14px 24px);
	right: 4px;
}
.CScontrolSorted {
	clip: rect(0px 24px 14px 12px);
	right: -8px;
}

.CSsuggestHover {
	background-color: #D2E3FF;
}
